$mainBlack: #2A2A2A;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	body {
		background-color: $mainBlack;
		font-family: 'Raleway', sans-serif;
		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 30px 10px;
			text-align: center;
			.title {
				color: #16cec5;
				font-weight: 400;
				font-size: 50px;
				margin-bottom: 20px;
			}
			.title-input,
			.details-input,
			.edit-title,
			.edit-details {
				max-width: 600px;
				width: 100%;
				margin: 5px 0;
				border: none;
				font-size: 25px;
				padding: 5px;
				background-color: rgb(247, 243, 196)
			}
			.input-button {
				font-size: 40px;
				padding: 10px;
				border: none;
				cursor: pointer;
				background-color: #fa7922;
			}
			.input-button:hover {
				background-color: #be3e3a;
				color: $mainBlack;
			}
			.entry-section {
				margin-top: 30px;
				.entry {
					width: 100%;
					margin: 10px 0;
					.entry-header {
						padding: 10px;
						cursor: pointer;
						background-color: #7add71;
						.entry-title {
							font-size: 30px;
							margin-bottom: 10px;
						}
						.click-details{
							font-style: italic;
						}
					}
					.entry-header:hover {
						background-color: #4fb945;
					}
					hr {
						background-color: #000;
						border: none;
						height: 1px;
					}
					.entry-content {
						padding: 10px;
						background-color: #a5f19e;
						.details {
							text-align: left;
							background-color: #f8fdab;
							border: 1px solid #000;
							padding: 10px;
						}

				
						.entry-buttons {
							margin-top: 10px;
							.delete {
								font-size: 20px;
								margin: 0 5px;
								padding: 5px 50px;
								text-align: center;
								cursor: pointer;
								border: none;
								background-color: #fd4949;
							}
						}
					}
					.hide-details {
						display: none;
					}
				}
			}
		}
	}
}