* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  * body {
    background-color: #2A2A2A;
    font-family: 'Raleway', sans-serif; }
    * body .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 30px 10px;
      text-align: center; }
      * body .container .error-message {
        color: #e93a3a;
        font-size: 24px; }
      * body .container .title {
        color: #15c9c0;
        font-weight: 400;
        font-size: 50px;
        margin-bottom: 20px; }
      * body .container .title-input,
      * body .container .details-input,
      * body .container .edit-title,
      * body .container .edit-details {
        max-width: 600px;
        width: 100%;
        margin: 5px 0;
        border: none;
        font-size: 25px;
        padding: 5px;
        background-color: #fff; }
      * body .container .input-button {
        font-size: 40px;
        padding: 10px;
        border: none;
        cursor: pointer;
        background-color: #8ff361; }
      * body .container .entry-section {
        margin-top: 30px; }
        * body .container .entry-section .entry {
          width: 100%;
          margin: 10px 0; }
          * body .container .entry-section .entry .entry-header {
            padding: 10px;
            cursor: pointer;
            background-color: #f8ce5c; }
            * body .container .entry-section .entry .entry-header .entry-title {
              font-size: 30px;
              margin-bottom: 10px; }
            * body .container .entry-section .entry .entry-header .click-details {
              font-style: italic; }
          * body .container .entry-section .entry hr {
            background-color: #000;
            border: none;
            height: 1px; }
          * body .container .entry-section .entry .entry-content {
            padding: 10px;
            background-color: #f8da86;
            white-space: pre-line;
            word-wrap: break-word; }
            * body .container .entry-section .entry .entry-content .details-title {
              text-align: left; }
            * body .container .entry-section .entry .entry-content .details {
              text-align: left;
              padding: 10px; }
            * body .container .entry-section .entry .entry-content .entry-buttons {
              margin-top: 10px; }
              * body .container .entry-section .entry .entry-content .entry-buttons .edit,
              * body .container .entry-section .entry .entry-content .entry-buttons .delete,
              * body .container .entry-section .entry .entry-content .entry-buttons .save {
                font-size: 20px;
                margin: 0 5px;
                padding: 5px;
                padding: 5px 40px;
                text-align: center;
                cursor: pointer;
                border: none; }
              * body .container .entry-section .entry .entry-content .entry-buttons .edit,
              * body .container .entry-section .entry .entry-content .entry-buttons .save {
                background-color: #9cabfd; }
              * body .container .entry-section .entry .entry-content .entry-buttons .delete {
                font-size: 20px;
                margin: 0 5px;
                padding: 5px 50px;
                text-align: center;
                cursor: pointer;
                border: none;
                background-color: #ff7e7e; }
          * body .container .entry-section .entry .hide-details {
            display: none; }
